.container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 70px 0 0 70px;

    .input-field {
        @apply appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight;
    }

    .btn-submit {
        @apply flex-shrink-0 bg-teal-500 border-teal-500 hover:border-teal-700 hover:bg-teal-700 text-sm border-4 text-white py-1 px-2 rounded;
    }
}

.text-result {
    display: flex;
    justify-content: center;
    align-items: center;
}