<div class="container">
  <div class="">
    <h1 class="text-3xl font-sans mb-8">✨ Start Beshifying ✨</h1>

    <form class="w-full max-w-sm mb-8" [formGroup]="textGroup" (submit)="onBeshify()">
      <div class="flex items-center border-b border-teal-500 py-2">
        <input class="input-field focus:outline-none" type="text" placeholder="Type here..." aria-label="Text field" formControlName="text">
        <button class="btn-submit" type="button" (click)="onBeshify()">
          Beshify 🤸‍♀️
        </button>
      </div>
    </form>
  </div>
</div>


<div class="text-result">
  <h1 class="text-3xl font-sans max-w-xl">{{ title }}</h1>
</div>